/*  your css code here. If applicable */
.hero{
	display : flex;
	justify-content : center;
	align-items : center;
}
#img{
	width : 400px;
	height : 200px;
	object-fit : cover ;
}
#second{
	padding : 20px;
	text-align : center;
}


#button>a{
	text-decoration : none;
	color : white;
	
}
button {
	display : flex;
	align-item : center;
	justify-content : centre;
	border : 1px solid red;
	border-radius : 5px;
	background-color : red;
	margin-left : 80px;
}
